<section>
    <div class="banner-innerpage"
        style="
            background-image: url('https://www.thespruceeats.com/thmb/KfN-xQj1beCQABy2p2DrCbNW9OU=/940x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-482142025-e10af7541fe844a1a8decb35bffb5a40.jpg');">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
                    <h1 class="heading-1">{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>