<div class="container">
    <mat-card class="form">
        <mat-card-header>
            <mat-card-title class="heading-3">
                Reset Your Password
            </mat-card-title>
            <mat-card-subtitle>
                Please enter your email address to request a password reset
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="card__content">
                <mat-form-field class="form__field" appearance="standard">
                    <mat-label>Email Address</mat-label>
                    <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <mat-icon class="input-icon" matSuffix>mail</mat-icon>
                    <mat-error class="form__error" *ngIf="emailFormControl.invalid">
                        {{getErrorMessage()}}
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <button class="btn" (click)="resetPassword()">
                Reset Password
            </button>
        </mat-card-actions>

        <mat-card-footer>
            <span>Go back to <a class="redirect" routerLink="/authentication/log-in">Log In</a></span>
        </mat-card-footer>
    </mat-card>
</div>