<!DOCTYPE html>
<html>

<body class="plain error-page-wrapper background-color background-image">
    <div class="content-container">
        <div class="head-line secondary-text-color">
            404
        </div>
        <div class="subheader primary-text-color">
            Oops, the page you're <br>
            looking for does not exist.
        </div>
        <hr>
        <div class="clearfix"></div>
        <div class="context primary-text-color">
            <p>
                You may want to head back to the homepage.<br />
            </p>
        </div>
        <div class="buttons-container">
            <a class="border-button" routerLink="/">Go to homepage</a>
        </div>
    </div>
</body>

</html>