@import "../../../sass/abstracts/variables";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent !important;
}

html {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

.clearfix {
  clear: both;
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.plain.error-page-wrapper {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #6355bc;
  padding: 0 5%;
  position: relative;
}

.plain.error-page-wrapper .content-container.in {
  left: 0px;
  opacity: 1;
  margin-top: 282.5px;
}

.plain.error-page-wrapper .head-line {
  transition: color 0.2s linear;
  font-size: 48px;
  line-height: 60px;
  color: rgb(255, 255, 255) !important;
  letter-spacing: -1px;
  margin-bottom: 5px;
}
.plain.error-page-wrapper .subheader {
  transition: color 0.2s linear;
  font-size: 36px;
  line-height: 46px;
  color: #fff !important;
}
.plain.error-page-wrapper hr {
  height: 1px;
  background-color: rgb(255, 255, 255) !important;
  border: none;
  width: 250px;
  margin: 35px 0;
}
.plain.error-page-wrapper .context {
  transition: color 0.2s linear;
  font-size: 18px;
  line-height: 27px;
  color: #fff !important;
}
.plain.error-page-wrapper .context p {
  margin: 0;
}
.plain.error-page-wrapper .context p:nth-child(n + 2) {
  margin-top: 12px;
}
.plain.error-page-wrapper .buttons-container {
  margin-top: 45px;
  overflow: hidden;
}
.plain.error-page-wrapper .buttons-container a {
  transition: color 0.2s linear, border-color 0.2s linear;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff !important;
  border: 2px solid white;
  border-radius: 99px;
  padding: 8px 30px 9px;
  display: inline-block;
}
.plain.error-page-wrapper .buttons-container a:hover {
  background-color: rgba(255, 255, 255, 0.05) !important;
}
.plain.error-page-wrapper .buttons-container a:first-child {
  margin-right: 25px;
}

@media screen and (max-width: 485px) {
  .plain.error-page-wrapper .header {
    font-size: 36px;
  }
  .plain.error-page-wrapper .subheader {
    font-size: 27px;
    line-height: 38px;
  }
  .plain.error-page-wrapper hr {
    width: 185px;
    margin: 25px 0;
  }

  .plain.error-page-wrapper .context {
    font-size: 16px;
    line-height: 24px;
  }
  .plain.error-page-wrapper .buttons-container {
    margin-top: 35px;
  }

  .plain.error-page-wrapper .buttons-container a {
    font-size: 13px;
    padding: 8px 0 7px;
    width: 45%;
    text-align: center;
  }
  .plain.error-page-wrapper .buttons-container a:first-child {
    margin-right: 10%;
  }
}

.background-color {
  background-color: $color-primary-dark !important;
}

.primary-text-color {
  color: #ffffff !important;
}

.secondary-text-color {
  color: rgba(255, 255, 255, 1) !important;
}

.pane {
  background-color: #ffffff !important;
}

.border-button {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.button {
  background-color: #ffffff !important;
  color: #ffffff !important;
}

.shadow {
  box-shadow: 0 0 60px #000000 !important;
}
