// COLOR VARIABLES
$color-primary-light: #91a7ff;
$color-primary-dark: #339af0;

$color-secondary: #b197fc;

$color-grey-light-1: #f1f3f5;
$color-grey-light-2: #dee2e6;

$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;

$font-display: "Josefin Sans", sans-serif;
