<div class="card card__order-item">
    <mat-card>
        <mat-card-content>
            <span>
                <img style="width: 60px; height:60px ;" src="../../../../assets/products-images/{{displayItem!.image}}">
            </span>
            <p class="card__cart-text"><strong>Name:</strong>{{displayItem!.name}}</p>
            <p class="card__cart-text"><strong>Price:</strong>{{displayItem!.price}}</p>
            <p class="card__cart-text"><strong>quantity:</strong>{{displayItem!.quantity}}</p>
            <p class="card__cart-text"><strong>TotalPrice:</strong>{{displayItem!.totalPrice}}</p>
        </mat-card-content>
    </mat-card>
</div>